services:
  frontend:
    container_name: stocknex-frontend
    build:
      context: ./frontend
      dockerfile: frontend.dockerfile
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=http://stocknex-backend:4000
    depends_on:
      - backend

  backend:
    container_name: stocknex-backend
    build:
      context: ./backend
      dockerfile: backend.dockerfile
    ports:
      - 4000:4000
    environment:
      - DATABASE_URL_LOCAL=postgresql://postgres:password@db:5432/postgres?schema=public
      - JWT_SECRET=Ali@Yassir$StockNex#Prediction2025!Gi-ilsi-Info*Secure
      - NODE_ENV=production
    depends_on:
      db:
        condition: service_healthy

  prediction-api:
    # REMOVED: container_name (Required for replicas to work)
    build:
      context: ./stock-prediction-api
      dockerfile: Dockerfile
    # Overriding Dockerfile CMD to add 2 workers
    command: ["python", "-m", "uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--workers", "2"]
    ports:
      - "8000-8001:8000" # Maps host 8000 to Cont 1 and host 8001 to Cont 2
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      # Absolute path or named volume is safer for replicas
      - ./stock-prediction-api/storage/models:/stock-prediction-api/storage/models
    deploy:
      replicas: 2
    depends_on:
      - db

  db:
    container_name: db
    image: postgres:12
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata: {}  
